{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>
	<script type="text/javascript" src="/static/admin/js/admin/DateTimeShortcuts.js"></script>

<style>
#divEditPlan { width:40%;height:40%; float:left}
#divEditEvenement { width:40%;height:40%; float:left}
#sortable { list-style-type: none; margin:0; padding:0; width: 100px;height:100px; border:5px solid #00D6D6; float:left}
#sortable p { margin: 3px 3px 3px 3px; padding: 1px; float: left; width: 100px; height: 100px; font-size: 2em; text-align: center; }
</style>


<script>
//$(function() {
//$( "#sortable" ).sortable();
//$( "#sortable" ).disableSelection();
//});

num_planche = {{num_planche}}

tab_plans = []

function init()
{
    document.getElementById("select_lig").value = {{l_lig|length}}
    document.getElementById("select_col").value = {{l_col|length}}
    changeLig() 
    changeCol() 
}



</script>

{% endblock %}

{% block title %}Definition de la matrice de planche {{num_planche}} {% endblock %}

{% block content %}
<div style="width: 90%">
<input type="button" onclick="ajoutPlan()" value="Ajout d'un plan">

&nbsp;Nb lignes : 
<select id="select_lig" name="nbLig" onchange="changeLig()">
    {% for ligne in l_lig %}
    <option value="{{ligne}}">{{ligne}}</option>
    {% endfor %}
</select>

&nbsp;Nb colonnes : 
<select id="select_col" name="nbCol" onchange="changeCol()">
    {% for col in l_col %}
    <option value="{{col}}">{{col}}</option>
    {% endfor %}
</select>

&nbsp;
<input type="button" onclick="sauveMatrice()" value="Sauvegarde de la matrice de planche">
<br/><br/>


<div id="sortable">
    {% for plan in l_plans %}
    <p class="GreenFrame" id="plan_{{plan}}" variete="" onclick="editPlan({{plan}})"><span>plan {{plan}}</span></p>
    {% endfor %}
</div>

<div class="BlueFrame" style="display: none" id="divEditPlan">
	<h2>Gestion du plan en place</h2>
	<p>Sur la planche N° <span id="id_planche"></span>, plan N° <span id="plan_pos_x"></span><span id="plan_pos_y"></span></p>
    Variété : 
    <select id="select_var" name="Variete">
    	    {% for var in l_vars %}
    	    <option value="{{var}}">{{var}}</option>
    	    {% endfor %}

			
	</select>
    <br />Date de début d'activité
    <br/>Evenements<br/>
    <input type='button' value='Ajouter un évènement' name='ajout' onclick="ajoutEvenement({{plan}})"/><br/>
    <input type='button' value='Sauver le plan' name='sauver'/><br/>
                            
</div>
<div class="YellowFrame" style="display: none" id="divEditEvenement">
	<p>
		<h2>Gestion d'évenement</h2>
		Nom : 
		<input type='text' value='' name='nom'/><br/>
		Date : <a id="calendarlink0" href="javascript:DateTimeShortcuts.openCalendar(0);">
		<img src="/static/admin/img/icon_calendar.gif" alt="Calendar"></a>
		<span id="id_evt_t0"><input type='text' value='' name='date_debut'/></span><br/>
		<input type='button' value='Cancel' name='sauver' onclick="document.getElementById('divEditEvenement').style.display = 'none'" />
		<input type='button' value='OK' name='sauver' onclick="sauveEvenement()" /><br/>

	</p>
</div>



</div>
{% endblock %}
