{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/moment-with-locales.min.js"></script>

    <script type="text/javascript">
    pxParCm = 8
    pxParJ = 10    
    TitreEvtDeNom = {  {% for evtType in l_typesEvt %} '{{evtType.nom}}':'{{evtType.titre}}',{% endfor %}  }
    NomEvtDeId = {  {% for evtType in l_typesEvt %} '{{evtType.id}}':'{{evtType.nom}}',{% endfor %}  }
    
    jsonEvts = '{"evts":[{% for evt in l_evts %}\
                {"id":"{{evt.id}}","nom":"{{evt.nom}}","date":"{{evt.date}}","type":"{{evt.type}}","id_plant":"{{evt.plant_base_id}}"}{% if not forloop.last %},{% endif %}\
                {% endfor %}]}'

function     balisagePlants()
{

}	

function    init()
    {
    hJsonEvts = JSON.parse(jsonEvts)

    balisagePlants()
    }
    
function  balisagePlants()
    {
    s_info = ""
    for (ii=0;ii<hJsonEvts.evts.length;ii++)
        s_info += hJsonEvts.evts[ii].id_plant + " " + hJsonEvts.evts[ii].type + " " + hJsonEvts.evts[ii].date +  " date " + moment(hJsonEvts.evts[ii].date) + '<br/>'
    document.getElementById("divInfoDebug").innerHTML = s_info
    }
</script>
<style>

.chrono_plant
    {
    width: 30%;
    height: 50px;
    background: white;
    color: black;
    border-color: yellow;
    border: 5px solid green;
    }
</style>
{% endblock %}

{% block title %}Suivi dans le temps de la planche {{planche.num}} ({{planche.largeur_cm}} cm x {{planche.longueur_m}} m) {% endblock %}

{% block content %}

<p id="divInfoDebug"> </p>

<div id="main" style="text-align: center" >

<form action="chrono_planche_submit" method="get" accept-charset="utf-8">
Visionnage du <input type="text" name="date_debut" value="{{date_debut_vue|safe}}" /> au <input type="text" name="date_fin" value="{{date_fin_vue|safe}}" />
<input type="hidden" name="num_planche" value="{{planche.num}}" />
<input style="margin-left: 20px" type="submit" value="Envoyer"/>
</form>

<br/><br/>
    <div id="cadre_chrono">
        {# plants existants en base #}
        {% for plant in l_plants %}
        <div class="chrono_plant" id="{{plant.id}}" onmousedown="editePlant(this);toggleMove(this)" onmouseup="toggleMove(this)"
        variete="{{plant.variete_id}}" debut="{{plant.debut}}" fin="{{plant.fin}}" >
        <span><div class="num_plant">{{plant.id}}</div><div class="variete">{{plant.variete}}</div>
        <div class="plant_debut">{{plant.debut}}</div><div class="plant_fin">{{plant.fin}}</div></span>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
