{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>

<script>
	

function init()
    {
    pxParCm = 8
    
    jsonVarietes = {  {% for var in l_vars %} {{var.id}}:'{{var.nom}}',{% endfor %}  }
    jsonTitreTypeEvt = {  {% for evtType in l_typesEvt %} '{{evtType.nom}}':'{{evtType.titre}}',{% endfor %}  }
    
    pxParJ = 10
    
    }
</script>
<style>

.chrono_plant
    {
    width: 30%;
    height: 50px;
    background: white;
    color: black;
    border-color: yellow;
    border: 5px solid green;
    }
</style>
{% endblock %}

{% block title %}Suivi dans le temps de la planche {{planche.num}} ({{planche.largeur_cm}} cm x {{planche.longueur_m}} m) {% endblock %}

{% block content %}
{% csrf_token %}

<div id="main" onmousemove="majXYMouse(event);deplace();" style="text-align: center" >
Visionnage du <input type="texte" name="date_debut" value="{{date_debut}}"> au <input type="texte" name="date_fin" value="{{date_fin}}">


<span id="divInfoDebug" ></span>
<br/><br/>

    <div id="cadre_chrono">
    
            {# plants existants en base #}
            {% for plant in l_plants %}
            <div class="chrono_plant" id="{{plant.id}}" onmousedown="editePlant(this);toggleMove(this)" onmouseup="toggleMove(this)"
            variete="{{plant.variete_id}}" debut="{{plant.debut}}" fin="{{plant.fin}}" >
            <span><div class="num_plant">{{plant.id}}</div><div class="variete">{{plant.variete}}</div>
            <div class="plant_debut">{{plant.debut}}</div><div class="plant_fin">{{plant.fin}}</div></span>
            </div>
            {% endfor %}
            
    </div>
</div>

{% endblock %}
