{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>

<script>
	

function init()
    {
    pxParCm = 8
    
    jsonVarietes = {  {% for var in l_vars %} {{var.id}}:'{{var.nom}}',{% endfor %}  }
    jsonTitreTypeEvt = {  {% for evtType in l_typesEvt %} '{{evtType.nom}}':'{{evtType.titre}}',{% endfor %}  }
    //retaillage de la matrice, on fait un carré
    document.getElementById("matrice").style.height = ({{planche.largeur_cm}} * pxParCm ).toString() + "px"
    document.getElementById("matrice").style.width = "100%"

    }
</script>
{% endblock %}

{% block title %}Suivi de la planche dans le temps. planche {{planche.num}} ({{planche.largeur_cm}}cm x {{planche.longueur_m}}m) {% endblock %}

{% block content %}
{% csrf_token %}

<div id="main" onmousemove="majXYMouse(event);deplace();" style="width: 90%; border:2px solid #08252E;">
Visionnage du <input type="texte" name="date_debut" value="{{date_debut}}"> au <input type="texte" name="date_fin" value="{{date_fin}}">


<span id="divInfoDebug" ></span>
<br/><br/>

<div id="matrice">
            {# plants existants en base #}
            {% for plant in l_plants %}
            <div class="plant" id="{{plant.id}}" onmousedown="editePlant(this);toggleMove(this)" onmouseup="toggleMove(this)"
            variete="{{plant.variete_id}}" largeur_cm="{{plant.largeur_cm}}" hauteur_cm="{{plant.hauteur_cm}}" coord_x_cm="{{plant.coord_x_cm}}" coord_y_cm="{{plant.coord_y_cm}}" nb_graines="{{plant.nb_graines}}" >
            <span><div class="num_plant"> </div><div class="variete"> </div></span><br/>
            <div class="largeur_cm"> </div> <div class="hauteur_cm"> </div><br/> 
            <div class="coord_x_cm"> </div> <div class="coord_y_cm"> </div><br/>
            </div>
            {% endfor %}
</div>


{% endblock %}
