{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>

	<style>
	#divEditPlan { width:40%;height:40%; float:left}
	#divEditEvenement { width:40%;height:40%; float:left}
	#matrice { list-style-type: none; margin:0; padding:0; width: 100px;height:100px; border:5px solid #00D6D6; float:left}
	#matrice p { margin: 3px 3px 3px 3px; padding: 1px; float: left; width: 100px; height: 100px; font-size: 2em; text-align: center; }
	
.Plan 
{
    width:250px;
    height:70px;
    border-color:#22FF22;
    border-style: solid;
    border-top-width: 15px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    position:absolute;
    background: rgba(200, 200, 200, 0.2);
    font-size: 1.2em;
    overflow: hidden;
    resize: both;
    min-width: 120px;
    min-height: 90px;
    max-width: 400px;
    max-height: 300px;    
    }
	</style>

	<script>
	
    bEnMouvement = false
    pxParCm = 5
    plan_courant = ""
    g_tab_tickets = new Array()
    
function init()
	{
	document.getElementById("matrice").style.height = ({{planche.largeur_cm}} * pxParCm ).toString() + "px"
    majHauteurPlans() 
    changeCol() 
   
	}

function majHauteurPlans()
	{
	hauteur_plan_px = {{planche.largeur_cm}} / getValOfTagName("input", "nbLig") * pxParCm

	l_rep = document.getElementsByClassName("Plan")
	for (ii=0; ii< l_rep.length; ii++)
	    l_rep[ii].style.height = hauteur_plan_px + "px"
	}
    
function ajoutPlan()
    {
    s_nouveauPlanId = 'plan_' + getTicket()
    s_plan = '<p class="Plan" id="' + s_nouveauPlanId + '" .onmousedown="deplace('+ s_nouveauPlanId + ')" ondragstart = function() { return false }>'
    s_plan += s_nouveauPlanId 
    s_plan += '<br/><a href="javascript:editePlan(' + "'" + s_nouveauPlanId + "'" + ')">edit</a></span>'
    s_plan += '<br/><a href="javascript:supprimePlan('+ s_nouveauPlanId + ')">remove</a></span></p>'
    document.getElementById("matrice").innerHTML += s_plan
    majHauteurPlans()
    }
    
function supprimePlan(id)
    {
    plan_courant = ''   // plus de plan courant qu'on est en train de detruire
    document.getElementById('matrice').removeChild(document.getElementById(id))
    }

function editePlan(id)
{
	document.getElementById("divEditPlan").style.display = "block"
	document.getElementById("id_planche").innerHTML = {{planche.num}}
	document.getElementById("pos_plan").innerHTML = id
}

function ajouteEvenement()
{
	document.getElementById("divEditEvenement").style.display = "block"
}

function sauveEvenement()
{
	// recup données et ajout
	date = document.getElementById("evt_date").value
	nom = document.getElementById("evt_nom").value
	pos_plan = document.getElementById("pos_plan").value
	alert('sauve ' + nom  + " " + date + " du plan " + pos_plan)
	s_request = "cde=ajoutEvt&nom="+ nom + "&date=" + date
    rep = requestServer(s_request)
}

function sauveMatrice()
{
	// recup données et ajout
	date = document.getElementById("evt_date").value
	nom = document.getElementById("evt_nom").value
	pos_plan = document.getElementById("pos_plan").value
	alert('sauve ' + nom  + " " + date + " du plan " + pos_plan)
	s_request = "cde=jkjkjajoutEvt&nom="+ nom + "&date=" + date
    rep = requestServer(s_request)
}
	 

function changeCol() 
{
  nCol = getValOfTagName("input", "nbCol")
  document.getElementById("matrice").style.width = (120 * nCol ).toString() + "px"
}


function getCoordonnees(event) 
    {
    screenX = event.screenX
    screenY = event.screenY
    clientX = event.clientX
    clientY = event.clientY

    coordinates = "clientX = " + clientX + "; clientY = " + clientY 
   
    if (plan_courant != "")
        {
        rect = document.getElementById(plan_courant).getBoundingClientRect()
        coordinates += ";diff = " + (clientY - rect.top)
        coordinates += "\plan_courant= " + plan_courant + " style.top " + rect.top
        }
    coordinates += "\nbEnMouvement= " + bEnMouvement
    
    document.getElementById("divInfoDebug").innerHtml = coordinates;

    }

function toggleMove()
    {
    if (plan_courant == "")
        return
        
    obj=document.getElementById(plan_courant)
    rect = obj.getBoundingClientRect()
    if(bEnMouvement == false)
        {
        if ((clientY - rect.top < 40)&&(clientX - rect.left <40 ))  // pour prendre au coin
            {
            bEnMouvement = true
            obj.style.borderColor='yellow'
            }
        }
    else
        {
        bEnMouvement = false
        obj.style.borderColor = 'green'
        }
    // alert(' planid ' + plan_courant + ' '+  bEnMouvement)
    }


function getTicket()
{
    g_tab_tickets.push("0")
    return(g_tab_tickets.length) 
}

function deplace(plan_courant)
    {
    if (plan_courant == "")
        return
    
    obj=document.getElementById(plan_courant)
    
    if (bEnMouvement)
        {
        obj.style.marginLeft = clientX - 10 + "px"
        obj.style.marginTop = clientY - 10 + "px"
        obj.innerHTML = plan_courant + "<br/>;  x=" + obj.style.marginLeft + "; y=" + obj.style.marginTop
        }
        
////

        this.style.position = 'absolute'
        var self = this
        document.onmousemove = function(e) {
                                            e = e || event
                                            fixPageXY(e)
                                            self.style.left = e.pageX-25+'px'
                                            self.style.top = e.pageY-25+'px'
                                         }
       this.onmouseup = function() {
                                     document.onmousemove = null
                                   }
        
   

////        
        
        
        
        
    }
    
    
</script>

{% endblock %}

{% block title %}Definition de la matrice de la planche {{planche.num}} ({{planche.largeur_cm}}cm x {{planche.longueur_m}}m) {% endblock %}

{% block content %}
{% csrf_token %}

<div style="width: 90%">
<input type="button" onclick="ajoutPlan()" value="Ajout d'un plan">
&nbsp;Nb lignes : 
<input type="text" id="nbLig" name="nbLig" onchange="majHauteurPlans()" />
&nbsp;Nb colonnes : 
<input type="text" id="nbCol" name="nbCol" onchange="changeCol()" />
&nbsp;
<input type="button" onclick="sauveMatrice()" value="Sauvegarde de la matrice de planche">
<br/><br/>

<div id="divInfoDebug" class="BlueFrame"></div><br/>

<div id="matrice"></div>


<div class="BlueFrame" style="display: none" id="divEditPlan">
	
	<h2>Gestion du plan implanté en <span id="pos_plan"></span></h2>
	<p>Sur la planche N° <span id="id_planche"></span></p>
    Variété : 
    <select id="select_var" name="Variete">
    	    {% for var in l_vars %}
    	    <option value="{{var.id}}">{{var.nom}}</option>
    	    {% endfor %}
	</select>
	
    <br />Date de début d'activité
    <br/>Evenements<br/>
    <input type='button' value='Ajouter un évènement' name='ajout' onclick="ajouteEvenement({{plan}})"/><br/>
    <input type='button' value='Sauver le plan' name='sauver'/><br/>                   
</div>

<div class="YellowFrame" style="display: none" id="divEditEvenement">
	<p>
		<h2>Gestion d'évenement</h2>
		Nom : <input type='text' value='' id='evt_nom'/><br/>
		Date (jj-mm-aaaa): <input type='text' value='' id='evt_date'/><br/>
		<input type='button' value='Cancel' name='sauver' onclick="document.getElementById('divEditEvenement').style.display = 'none'" />
		<input type='button' value='OK' name='sauver' onclick="sauveEvenement()" /><br/>

	</p>
</div>



</div>
{% endblock %}
