{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>

	<style>
#divEditPlan { width:40%;height:40%; float:left}

#divEditEvenement 
	{ 
    width:40%;
    height:40%; 
    float:left
    }
	
#matrice { 
    list-style-type: none; 
    margin:0; padding:0; width: 100px;height:100px; 
    border:5px solid #00D6D6; 
    float:left;
    border-style-right:dotted;
    }
	
#matrice p 
    { 
    margin: 3px 3px 3px 3px; 
    padding: 1px; float: left; 
    width: 100px; height: 100px; 
    font-size: 2em; 
    text-align: center; 
    }	
	
.Plan 
    {
    width:250px;
    height:70px;
    border-color:#22FF22;
    border-style: solid;
    border-top-width: 15px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    position:absolute;
    background: rgba(200, 200, 200, 0.2);
    font-size: 1.2em;
    overflow: hidden;
    resize: both;
    min-width: 120px;
    min-height: 90px;
    max-width: 400px;
    max-height: 300px;    
    }
</style>

	<script>
	
    bEnMouvement = false
    pxParCm = 5
    plan_courant = ""
    g_tab_tickets = new Array()
    
function init()
	{
    document.getElementById("matrice").style.height = ({{planche.largeur_cm}} * pxParCm ).toString() + "px"
    // la longuer est coupée , on fait un carré
    document.getElementById("matrice").style.width = ({{planche.largeur_cm}} * pxParCm ).toString() + "px"
	}


function getTicket()
{
    g_tab_tickets.push("0")
    return(g_tab_tickets.length) 
}
    
function ajoutPlan()
    {
    s_nouveauPlanId = 'plan_' + getTicket()
    s_plan = '<p class="Plan" id="' + s_nouveauPlanId + '"'
    s_plan += ' onmouseover="plan_courant=' + "'" + s_nouveauPlanId + "'" + '" onmouseout="plan_courant=' + "''" + '"'
    s_plan += '" onmousedown="toggleMove()" onmouseup="toggleMove()" variete="">'
    s_plan += s_nouveauPlanId 
    s_plan += '<br/><a href="javascript:editePlan(' + "'" + s_nouveauPlanId + "'" + ')">edit</a></span>'
    s_plan += '<br/><a href="javascript:supprimePlan('+ "'" + s_nouveauPlanId + "'" + ')">remove</a></span></p>'
    document.getElementById("matrice").innerHTML += s_plan
    }
   
function supprimePlan(id)
    {
    plan_courant = ''   // plus de plan courant qu'on est en train de detruire
    document.getElementById('matrice').removeChild(document.getElementById(id))
    document.getElementById('divEditPlan').style.display = "none"
    }

function editePlan(id)
    {
	document.getElementById("divEditPlan").style.display = "block"
	document.getElementById("editPlan_id_planche").innerHTML = {{planche.num}}
    document.getElementById("editPlan_planId").innerHTML = id
    //list = document.getElementsByTagName("editPlan_planId")
   // for( ii=0;ii<list.length;ii++)
    //    list[ii].value = id;
//        list[ii].innerHTML = id;
    }

function sauvePlan()
    {
    // recup données et ajout
    id_plan = document.getElementById("editPlan_planId").innerHTML
    variet = document.getElementById("editPlan_select_var").value
    
    list = document.getElementsByClassName("Plan")
    for( ii=0;ii<list.length;ii++)
        if (list[ii].getAttribute("id") == id_plan)
            list[ii].setAttribute("variete", variet)
    
    }
     
     
function ajouteEvenement()
    {
	document.getElementById("divEditEvenement").style.display = "block"
    }

function sauveEvenement()
    {
	// recup données et ajout
	date = document.getElementById("evt_date").value
	nom = document.getElementById("evt_nom").value
	pos_plan = document.getElementById("pos_plan").value
	alert('sauve ' + nom  + " " + date + " du plan " + pos_plan)
	s_request = "cde=ajoutEvt&nom="+ nom + "&date=" + date
    rep = requestServer(s_request)
    }

function sauveMatrice()
    {
    // recup données et ajout
    nom = document.getElementById("evt_nom").value
    pos_plan = document.getElementById("pos_plan").value
    alert('sauve ' + nom  + " " + date + " du plan " + pos_plan)
    s_request = "cde=sauve_matrice&nomddd="+ nom + "&dddate=" + date
    rep = requestServer(s_request)
    }
    



function majXYMouse(event) 
    {
    //screenX = event.screenX
    //screenY = event.screenY
    clientX = event.clientX
    clientY = event.clientY

    coordinates =  clientX + ", " + clientY 
   
    if (plan_courant != "")
        {
        obj= document.getElementById(plan_courant)
        rect = obj.getBoundingClientRect()        
        coordinates += ";diff = " + (clientY - rect.top)
        coordinates += "\nplan_courant= " + plan_courant + " style.top " + rect.top + " margins : " + obj.style.marginLeft + "; " + obj.style.marginTop
        }
    //matr = document.getElementById("matrice")
    //coordinates += " || matrice margins" + matr.style.marginLeft + " " + matr.style.marginTop
    
    document.getElementById("divInfoDebug").innerHTML = coordinates

    }

function toggleMove()
    {
    if (plan_courant == "")
        return
        
    obj=document.getElementById(plan_courant)
    rect = obj.getBoundingClientRect()
    if(bEnMouvement == false)
        {
        if ((clientY - rect.top < 40)&&(clientX - rect.left <40 ))  // pour prendre au coin
            {
            bEnMouvement = true
            obj.style.borderColor='yellow'
            }
        }
    else
        {
        bEnMouvement = false
        obj.style.borderColor = 'green'
        }
    }



function deplace()
    {
    if (plan_courant == "")
        return
    
    obj=document.getElementById(plan_courant)
    matr = document.getElementById("matrice")

    if (bEnMouvement)
        {
        obj.style.marginLeft = clientX - matr.offsetLeft - 10 + "px"
        obj.style.marginTop = clientY - matr.offsetTop - 10 + "px"
        } 
    }

</script>

{% endblock %}

{% block title %}Definition de la matrice de la planche {{planche.num}} ({{planche.largeur_cm}}cm x {{planche.longueur_m}}m) {% endblock %}

{% block content %}
{% csrf_token %}

<div id="main" onmousemove="majXYMouse(event);deplace();" style="width: 80%">
<input type="button" onclick="ajoutPlan()" value="Ajout d'un plan">
&nbsp;
<input type="button" onclick="sauveMatrice()" value="Sauvegarde de la matrice de planche">

<span id="divInfoDebug" ></span>
<br/><br/>


<div id="matrice"></div>

<div class="BlueFrame" style="display: none" id="divEditPlan">
	<h2>Gestion du plan implanté en <span id="editPlan_planId"></span></h2>
	<p>Sur la planche N° <span id="editPlan_id_planche"></span></p>
    Variété : 
    <select id="editPlan_select_var" name="Variete">
    	    {% for var in l_vars %}
    	    <option value="{{var.id}}">{{var.nom}}</option>
    	    {% endfor %}
	</select>
	
    <br />Date de début d'activité
    <br/>Evenements<br/>
    <input type='button' value='Sauver le plan' name='sauver' onclick="sauvePlan()"/><br/>                   
    <input type='button' value='Ajouter un évènement' name='ajout' onclick="ajouteEvenement()"/><br/>
</div>

<div class="YellowFrame" style="display: none" id="divEditEvenement">
	<p>
		<h2>Gestion d'évenement</h2>
		Nom : <input type='text' value='' id='evt_nom'/><br/>
		Date (jj-mm-aaaa): <input type='text' value='' id='evt_date'/><br/>
		<input type='button' value='Cancel' name='sauver' onclick="document.getElementById('divEditEvenement').style.display = 'none'" />
		<input type='button' value='OK' name='sauver' onclick="sauveEvenement()" /><br/>

	</p>
</div>



</div>
{% endblock %}
