{% extends "base.html" %}

{% block javascript %}
    <script type="text/javascript" src="{{ STATIC_URL }}javascripts/myTools.js"></script>

	<style>


</style>

	<script>
	
    bEnMouvement = false
    pxParCm = 8
    plant_courant = ""
    g_tab_tickets = new Array()
    jsonVarietes = {  {% for var in l_vars %} {{var.id}}:'{{var.nom}}',{% endfor %}  }

function init()
    {
    document.getElementById("matrice").style.height = ({{planche.largeur_cm}} * pxParCm ).toString() + "px"
    // la longuer est coupée , on fait un carré
    document.getElementById("matrice").style.width = ({{planche.largeur_cm}} * pxParCm ).toString() + "px"
    }



function getTicket()
{
    g_tab_tickets.push("0")
    return(g_tab_tickets.length) 
}
    
function ajoutPlan()
    {
    s_nouveauPlanId = getTicket() + '_' 
    s_plant = '<div class="plant" id="' + s_nouveauPlanId + '"'
    //s_plant += ' onmouseover="plant_courant=' + "'" + s_nouveauPlanId + "'" + '" onmouseout="plant_courant=' + "''" + '"'
    s_plant += ' onmousedown="toggleMove(this)" onmouseup="toggleMove(this)" variete="" largeur_cm="" hauteur_cm="" coord_x_cm="" cord_y_cm=""' 
    s_plant += ' onclick="editePlan(this)"' + '>'
    s_plant += '<span><div class="num_plant"> </div><div class="variete"> </div></span><br/>' 
    s_plant += '<div class="largeur_cm"> </div> <div class="hauteur_cm"> </div><br/>' 
    s_plant += ' <div class="coord_x_cm"> </div> <div class="coord_y_cm"> </div><br/>' 
    //s_plant += '<br/><a href="javascript:editePlan(' + "'" + s_nouveauPlanId + "'" + ')"><img src="{{ STATIC_URL }}images/editor.png" width="24" height="24" title="Editer"></a></span> '
    s_plant += '<a href="javascript:supprimePlan('+ "'" + s_nouveauPlanId + "'" + ')"><img src="{{ STATIC_URL }}images/delete.png" width="24" height="24" title="Supprimer"></a></span >'
    s_plant += '</div>'
    
    document.getElementById("matrice").innerHTML += s_plant
    
    affichePlants()
                
    }
   
function supprimePlan(plant_id)
    {
    plant_courant = ''   // plus de plant courant qu'on est en train de detruire
    document.getElementById('divEditPlan').style.display = "none"
    document.getElementById('matrice').removeChild(document.getElementById(plant_id))
    }

function editePlan(hPlant)
    {
	document.getElementById("divEditPlan").style.display = "inline"
	document.getElementById("editPlant_id_planche").innerHTML = {{planche.num}}
    document.getElementById("editPlant_plantId").innerHTML = hPlant.getAttribute("id")
    }

function sauvePlant()
    {
    // recup données et ajout à partir de l'id de plant de la fenetre d'edition
    id_plant = document.getElementById("editPlant_plantId").innerHTML
    id_variet = document.getElementById("editPlant_select_var").value

    // on affecte les resultats de l'édition dans les attributs du div du plant + mise à jour affiche du plant
    list = document.getElementsByClassName("plant")
    for(ii=0;ii<list.length;ii++)
        if (list[ii].getAttribute("id") == id_plant)
            {
            // mise à jour affichage 
            list[ii].setAttribute("variete", id_variet)
            //list[ii].getElementsByClassName("variete")[0].innerHTML = jsonVarietes[id_variet]
            affichePlant(list[ii])
            }
    }

function affichePlants()
    {
    list = document.getElementsByClassName("plant")
    for(ii=0;ii<list.length;ii++)
        affichePlant(list[ii])

    }
    
function affichePlant(obj_plant)
    {
    // on affiche le contenu du plant à partir des attributs 
    obj_plant.getElementsByClassName("num_plant")[0].innerHTML = obj_plant.getAttribute("id")
    obj_plant.getElementsByClassName("variete")[0].innerHTML = jsonVarietes[obj_plant.getAttribute("variete")]
    obj_plant.getElementsByClassName("coord_x_cm")[0].innerHTML = "y:" + obj_plant.getAttribute("coord_x_cm") + "cm"
    obj_plant.getElementsByClassName("coord_y_cm")[0].innerHTML = "x:" + obj_plant.getAttribute("coord_y_cm") + "cm"
    obj_plant.getElementsByClassName("hauteur_cm")[0].innerHTML = "h:" + obj_plant.getAttribute("hauteur_cm") + "cm"
    obj_plant.getElementsByClassName("largeur_cm ")[0].innerHTML = "l:" + obj_plant.getAttribute("largeur_cm") + "cm"  
    }
               
     
function ajouteEvenement()
    {
	document.getElementById("divEditEvenement").style.display = "block"
    }

function sauveEvenement()
    {
	// recup données et ajout
	date = document.getElementById("evt_date").value
	nom = document.getElementById("evt_nom").value
	pos_plant = document.getElementById("pos_plant").value
	alert('sauve ' + nom  + " " + date + " du plant " + pos_plant)
	s_request = "cde=ajoutEvt&nom="+ nom + "&date=" + date
    rep = requestServer(s_request)
    }

function sauveMatrice()
    {
    // recup données et envoi plant par plant
    id_planche = {{planche.num}}
    list = document.getElementsByClassName("plant")
    for(pl=0; pl<list.length; pl++)
        {
        id_plant = list[pl].getAttribute("id")
        if (id_plant.search("_") != 1)
            continue // ancien deja enregistré
        nb_graines = 3
        variete = list[pl].getAttribute("variete")
        largeur_cm = list[pl].getAttribute("largeur_cm")
        hauteur_cm = list[pl].getAttribute("hauteur_cm")
        coord_x_cm = list[pl].getAttribute("coord_x_cm")
        coord_y_cm = list[pl].getAttribute("coord_y_cm")
        
        s_request = "cde=sauve_matrice&id_planche=" + id_planche + "&variete=" + variete + "&largeur_cm="+ largeur_cm +"&hauteur_cm="+ hauteur_cm + "&coord_x_cm="+ coord_x_cm +"&coord_y_cm="+ coord_y_cm
        rep = requestServer(s_request)
        alert('enegistrement' + list[pl].getAttribute("id") + " réponse = " +  rep)
        jsonRep = JSON.parse(rep)
        if (jsonRep.status == 'true' )
            {
            alert('plant ' + jsonRep.id_plant )

            list[pl].setAttribute("id", jsonRep.id_plant)
            document.getElementById("divInfoDebug").innerHTML = list[pl].getAttribute("id")

            }
        }
    affichePlants()
    }
    



function majXYMouse(event) 
    {
    clientX = event.clientX
    clientY = event.clientY
   
    if (plant_courant != "")
        {
        obj= document.getElementById(plant_courant)   
        // maj hauteur largeur
        hauteur_cm = parseInt(obj.style.height.split('px')[0] / pxParCm)
        obj.setAttribute("hauteur_cm", hauteur_cm )
        largeur_cm = parseInt(obj.style.width.split('px')[0] / pxParCm)
        obj.setAttribute("largeur_cm", largeur_cm)
        // recup position par rapport à la matrice , mise à jour affichage
        x = parseInt(obj.style.marginLeft.split('px')[0]  / pxParCm)
        obj.setAttribute("coord_x_cm", x)
        y = parseInt(obj.style.marginTop.split('px')[0]  / pxParCm)
        obj.setAttribute("coord_y_cm", y)
        
        affichePlant(obj)
        }
    
    //document.getElementById("divInfoDebug").innerHTML = coordinates

    }

function toggleMove(hPlant)
    {
    plant_courant = hPlant.getAttribute('id')
    //obj=document.getElementById(plant_courant)
    rect = hPlant.getBoundingClientRect()
    if(bEnMouvement == false)
        {
        if ((clientY - rect.top < 40)&&(clientX - rect.left <40 ))  // pour prendre au coin
            {
            bEnMouvement = true
            hPlant.style.borderColor='yellow'
            }
        }
    else
        {
        bEnMouvement = false
        hPlant.style.borderColor = 'green'
        }
    }

function deplace()
    {
    if (plant_courant == "")
        return
    
    obj=document.getElementById(plant_courant)
    matr = document.getElementById("matrice")

    if (bEnMouvement)
        {
        obj.style.marginLeft = clientX - matr.offsetLeft - 10 + "px"
        obj.style.marginTop = clientY - matr.offsetTop - 10 + "px"
        } 
    }

</script>

{% endblock %}

{% block title %}Définition de la matrice de la planche {{planche.num}} ({{planche.largeur_cm}}cm x {{planche.longueur_m}}m) {% endblock %}

{% block content %}
{% csrf_token %}

<div id="main" onmousemove="majXYMouse(event);deplace();" style="width: 80%">
<input type="button" onclick="ajoutPlan()" value="Ajout d'un plant">
&nbsp;
<input type="button" onclick="sauveMatrice()" value="Sauvegarde de la matrice de planche">

<span id="divInfoDebug" ></span>
<br/><br/>

<div id="matrice"></div>

<div id="divEditPlan" style="display: none" class="BlueFrame">
	<h2>Gestion du plant <span id="editPlant_plantId"></span></h2>
	<p>Sur la planche N° <span id="editPlant_id_planche"></span></p>
    Variété : 
    <select id="editPlant_select_var" name="Variete">
    	    {% for var in l_vars %}
    	    <option value="{{var.id}}" name="{{var.nom}}">{{var.nom}}</option>
    	    {% endfor %}
	</select>
	
    <br />Date de début d'activité
    <br/>Evenements<br/>
    <input type='button' value='Sauver le plant' name='sauver' onclick="sauvePlant()"/><br/>                   
    <input type='button' value='Ajouter un évènement' name='ajout' onclick="ajouteEvenement()"/><br/>
</div>

<div class="YellowFrame" style="display: none" id="divEditEvenement">
	<p>
		<h2>Gestion d'évenement</h2>
		Nom : <input type='text' value='' id='evt_nom'/><br/>
		Date (jj-mm-aaaa): <input type='text' value='' id='evt_date'/><br/>
		<input type='button' value='Cancel' name='sauver' onclick="document.getElementById('divEditEvenement').style.display = 'none'" />
		<input type='button' value='OK' name='sauver' onclick="sauveEvenement()" /><br/>

	</p>
</div>



</div>
{% endblock %}
